p.italic {
    font-style: italic;
}

.navbar-default {
  background: none;
}

body {
    background-image: url("https://68.media.tumblr.com/977d54853f19c4a6e9c657392c31ff96/tumblr_nfeqtaGRia1tf8vylo1_1280.png");
    background-size: 1440px 800px;
    background-repeat:no-repeat;
    display: compact;
    background-color: #c280d6;
}
