p.italic {
    font-style: italic;
}

.navbar-default {
  background: none;
}

body {
    background-image: url("http://cdn.pcwallart.com/images/dark-gradient-tumblr-wallpaper-1.jpg");
    background-size: 1440px 900px;
    background-repeat:no-repeat;
    display: compact;
    background-color: #c280d6;
}
