p.italic {
    font-style: italic;
}

.navbar-default {
  background: none;
}

body {
    background-image: url("http://img14.deviantart.net/12dd/i/2012/247/b/b/pastel_red_to_purple_by_ohsnapjenny-d5dj7xd.jpg");
    background-repeat:no-repeat;
    display: compact;
    background-color: #c280d6;
}
